@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;
    color: #ffffff;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}